---
interface Props {
    name: string;
}
const { name } = Astro.props;
---

<div class="p-1 bg-black rounded-lg ring-1 ring-slate-900/20 shadow-lg dark:bg-white  ">
    <p class="text-center font-semibold text-xs text-white dark:text-black ">{name}</p>
</div>
</div>
