---
interface Props {
    name: string;
}
const { name } = Astro.props;
---

<div class=" group p-1 bg-black rounded-lg ring-1 ring-slate-900/20 shadow-lg hover:bg-white  ">
    <p class="text-center font-semibold text-xs text-white group-hover:text-black group-hover:font-semibold ">{name}</p>
</div>
</div>
