
/* Variables de tema */
:root {
  --background-light: white;
  --background-dark: #0b0b0c;
}

body {
  font-family: "Open Sans", sans-serif;  
  background: var(--background-light);
}

html[data-theme="dark"] body {
  background: var(--background-dark);
}

* {
  box-sizing: border-box;
}

#SectionInfo {
  margin: 0 auto;
  max-width: 100ch;
}
