@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/*variables*/
:root {
  --dark-background: #0b0b0c;
}


body{
  font-family:"Roboto Mono","DejaVu Sans Mono","Consolas",monospace;
}

* {
  box-sizing: border-box;
}

#SectionInfo {
  margin: 0 auto;
  max-width: 100%;
  max-width: 80ch;

}

.dark{
  background: var(--dark-background);
}