
/* Variables de tema */
:root {
  --background-light: white;
  --background-dark: rgb(23 23 23);;
}

body {
  font-family: "Open Sans", sans-serif;  
  background: var(--background-light);
}

html[data-theme="dark"] body {
  background: var(--background-dark);
}

* {
  box-sizing: border-box;
}


