---

---

<div class="mt-10 flex justify-center items-center p-5">
  <div
    class="flex flex-col p-10 bg- dark:bg-transparent dark:ring-1 dark:ring-gray-100 rounded-lg ring-1 ring-slate-900/20 shadow-lg"
  >
    <p class="mb-2 text-gray-700 dark:text-white">
      Tengo 24 años y resido en Valencia. Soy una persona autodidacta con una
      gran pasión por el aprendizaje continuo. Desde muy pequeño, la tecnología
      y los videojuegos han sido una parte fundamental de mi vida. Actualmente,
      estoy enfocado en contribuir al desarrollo de herramientas tecnológicas
      que siempre me han fascinado desde mi infancia.
    </p>
    <a
      href="ruta/a/tu/curriculum.pdf"
      download
      class="flex justify-center items-center px-4 py-2 mx-auto bg-amber-300 text-black dark:text-black rounded-md hover:bg-amber-400 hover:font-semibold hover:scale-110 transition duration-100"    >
      <svg
        class="w-6 h-6 mr-2"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 16v6h16v-6M4 8v8m4-8v8m4-8v8m4-8v8M4 4h16v4H4z"></path>
      </svg>
      Descargar CV
    </a>
  </div>
</div>
