---
interface Props {
  frase: string,
  subfrase: string,
}
const {frase,subfrase} = Astro.props;
---

<section class="flex flex-col mt-20">
  <div class="leading-loose">
  <p class="dark:text-gray-200 text-gray-700">
    {frase}
    
  </p>
  <p class="text-sm text-gray-700 dark:text-gray-200">
    {subfrase}
  </p>
</div>
</section>


    
  
  