---

---

<section class="flex flex-col mt-32 items-center">
  <div class="leading-loose">
  <p class="dark:text-gray-200 text-gray-700">
    I'm <span class="font-bold">Dani</span>, 
    a Software Developer and Sys Admin.
    
  </p>
  <p class="text-sm text-gray-700 dark:text-gray-200">
    I hope you find here a bit of me. 
    <button class="hover:transition duration-150 hover:scale-125">🥖</button>
  </p>
</div>
</section>

    
  
  