---

---

<section class="flex flex-col mt-32">
  <div class="leading-loose">
  <p class="dark:text-gray-200 text-gray-700">
    I'm <span class="font-bold">Dani</span>, 
    Software Developer and Sys Admin.
    
  </p>
  <p class="text-sm text-gray-700 dark:text-gray-200">
    I hope you find here a bit of me. 
  </p>
</div>
</section>


    
  
  