---
import { Image } from "astro:assets";
import myImage from "../../images/IMG_1849.png";
---
<div class="flex justify-center items-center text-center mt-36">
    <!--<Image src={myImage} alt="descripcion" class="rounded w-36 h-36 mr-5" /> -->
    <div class="flex flex-col">
      <p class="font-extrabold text-6xl dark:text-white">Hola, Soy Daniel <span class="text-5xl">👋</span></p>
      <p class="text-xl text-gray-700 m-5 dark:text-white ">Desarrollador de Software y Administrador de Sistemas.</p>
    </div>
  
  </div>