---
interface Props {
    img: string;
    company: string;
    description: string;
    date: string;
    technologies: string[];
}
const { img, company, description, date, technologies } = Astro.props;
---

<div class="mt-10 p-5 lg:grid lg:grid-cols-1">
    <div
        class="flex flex-col p-5 lg:p-10bg-white rounded-lg ring-1 ring-slate-900/20 shadow-lg hover:ring-slate-900 hover:transition duration-150"
    >
        <img src={img} alt="Empresa" class="aspect-square h-24 w-24 object-contain" />

        <p class="text-gray-700 font-medium">{description}</p>
        <p>{date}</p>
        <div class="flex gap-2 mt-2">
            {
                technologies.map((technology) => (
                    <img class="w-8 h-8" src={technology} title="Tecnologia" />
                ))
            }
        </div>
    </div>
</div>