---

const { img, company, description, date, technologies } = Astro.props;
import Company from "./Company.astro";
import redi from "../assets/logoredi.svg";
import datium from "../assets/datium.png";
import php from "../assets/php.svg";
import javascript from "../assets/javascript.svg";
import bootstrap from "../assets/bootstrap.svg";
import jquery from "../assets/jquery.svg";
import workbench from "../assets/worbenchsql.svg";
import html from "../assets/html.svg";
import css from "../assets/css.svg";
import bash from "../assets/bash.svg";
import speedtest from "../assets/speedtest.svg";
---

 <div class="mt-10">
    <Company
        company="Datium"
        description="Resolución de incidencias y Desarrollo del portal Web."
        img={datium.src}
        date="2024 - 3 meses"
        technologies={[php.src,javascript.src,bootstrap.src,jquery.src,workbench.src]}
    />
    <Company
    company="Redi for You"
    description="Desarrollo de una herramienta de monitoreo de red."
    img={redi.src}
    date="2021 - 3 meses"
    technologies={[php.src,html.src,css.src,bash.src,speedtest.src]}
/>
</div>

