---

---


<footer class=" bg-white  rounded-lg ring-1 ring-neutral-800/20 dark:bg-neutral-800 shadow-lg mt-10 mb-5 ">
    <div class="w-full mx-auto max-w-screen-xl p-4 justify-center items-center text-center">
      <span class="text-sm text-gray-700 dark:text-gray-50">© 2024 made with 💛 <a href="/" class="underline-offset-[5px] decoration-dashed hover:underline">DanibreaddDev</a>.
    </span>
   
    </div>
</footer>

