---

---


<footer class=" bg-white dark:bg-neutral-950 rounded-lg ring-1 ring-slate-950/20 shadow-lg mt-10 mb-5 ">
    <div class="w-full mx-auto max-w-screen-xl p-4 justify-center items-center text-center">
      <span class="text-sm text-gray-700 dark:text-gray-50">© 2024 <a href="/" class="hover:underline">DanibreaddDev</a>.
    </span>
   
    </div>
</footer>

