---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
import DevName from "./DevName.astro";
---

<header class="fixed top-0 flex items-center gap-2 mt-5">
    
        <ThemeIcon />

        <div
            class="flex items-center gap-5 bg-white rounded-lg ring-1 ring-neutral-900/20 dark:bg-neutral-950 shadow-lg"
        >
            <DevName />
            <Navigation />
        </div>
    
</header>


