---

import Linkedin from "./socials/Linkedin.astro";
import Github from "./socials/Github.astro";
import CV from "./socials/CV.astro";
---

<nav class="flex sm:gap-3">
    <button class=" hover:bg-amber-300 rounded-lg p-1 hover:transition duration-300 hover:scale-125">
        <a href="https://github.com/danibreaddDev">
            <Github/>
        </a>
    </button>
    <button class=" hover:bg-amber-300 rounded-lg p-1 hover:transition duration-300 hover:scale-125">
        <a href="https://www.linkedin.com/in/dani-pamblanco/">
            <Linkedin/>
        </a>
    </button>
    <button class=" hover:bg-amber-300 rounded-lg p-1 hover:transition duration-300 hover:scale-125">
        <a href="/CV Daniel Pamblanco Mestre.pdf">
            <CV/>
        </a>
    </button>
</nav>
