---
interface Props {
    currentPath: string,
}
const {currentPath} = Astro.props;
---

<div class="flex justify-center items-center mt-20 space-x-6">
    <a
        href="/"
        class={` dark:text-neutral-500 ${currentPath === "/" ? "bg-amber-300 dark:text-neutral-800 font-bold" : ""} p-1 rounded hover:transition duration-150 hover:scale-125`}
        >ES</a
    >
    <a
        href="/en"
        class={` dark:text-neutral-500 ${currentPath.endsWith("/en") ? "bg-amber-300 dark:text-neutral-800 font-bold" : ""} p-1 rounded hover:transition duration-150 hover:scale-125`}
        >EN</a
    >
</div>
