---
import { Image } from "astro:assets";
import code from "../assets/code.svg";
import monitor from "../assets/monitor.svg";
import Technology from "./Technologies/Technology.astro";
import DATABASE from "../assets/database.svg";
import SERVER from "../assets/server.svg";
---

<div class="mt-10 justify-center items-center">
    <div class="flex flex-wrap gap-2 justify-center items-center">
        <p class="text-center font-semibold text-xl">
            Desarrollador de Software
        </p>
        <Image src={code} alt="codigo icono" />
        <Image src={monitor} alt="monitor icono" />
    </div>

    <p class="text-center lg:text-left text-gray-700 font-medium mt-10">
        Lenguajes de Programación
    </p>
    <div class="flex flex-wrap gap-2 mt-5 justify-center lg:justify-normal">
        <Technology name="PHP" />
        <Technology name="Javascript" />
        <Technology name="Java" />
        <Technology name="C#" />
    </div>
    <p class="text-center lg:text-left text-gray-700 font-medium mt-10">
        Desarrollo Front-End
    </p>
    <div class="flex flex-wrap gap-2 mt-5 justify-center lg:justify-normal">
        <Technology name="HTML" />
        <Technology name="CSS" />
        <Technology name="Astro" />
    </div>
    <p class="text-center lg:text-left text-gray-700 font-medium mt-10">
        Desarrollo Back-End
    </p>
    <div class="flex flex-wrap gap-2 mt-5 justify-center lg:justify-normal">
        <Technology name="Symfony" />
        <Technology name="NodeJS" />
    </div>
    <p class="text-center lg:text-left text-gray-700 font-medium mt-10">
        Desarrollo de Videojuegos
    </p>
    <div class="flex flex-wrap gap-2 mt-5 justify-center lg:justify-normal">
        <Technology name="Unity" />
    </div>
    <p class="text-center lg:text-left text-gray-700 font-medium mt-10">
        Bases de Datos
    </p>
    <div class="flex flex-wrap gap-2 mt-5 justify-center lg:justify-normal">
        <Technology name="MySQL" />
        <Technology name="PostgreSQL" />
        <Technology name="Astro DB" />
        <Technology name="Oracle DB" />
    </div>
    <p class="text-center lg:text-left text-gray-700 font-medium mt-10">
        Herramientas
    </p>
    <div class="flex flex-wrap gap-2 mt-5 justify-center lg:justify-normal">
        <Technology name="VS Code" />
        <Technology name="Visual Studio" />
        <Technology name="IntelliJ" />
        <Technology name="PyCharm" />
        <Technology name="MySQLWorkbench" />
        <Technology name="PHPMyAdmin" />
    </div>
    <div class="flex flex-wrap gap-2 mt-10 justify-center items-center">
        <p class="text-center  font-semibold text-xl">
            Administrador de Sistemas
        </p>
        <Image src={DATABASE} alt="codigo icono" />
        <Image src={SERVER} alt="monitor icono" />
    </div>
    <div class="flex flex-wrap gap-2 mt-10 justify-center lg:justify-normal">
        <Technology name="Ticketing" />
        <Technology name="SO Windows" />
        <Technology name="SO Linux" />
        <Technology name="Incidencias" />
        <Technology name="Networking CISCO" />
    </div>
</div>
