---
interface Props {
  title: string;
}
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---

<html lang="es" transition:animate="slide">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/code.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="soy Daniel Pamblanco Mestre, desarrollador de Software Junior y Administrador de Sistemas informáticos en red.
    Soy una persona autodidacta con una gran pasión por el aprendizaje continuo. 
    Desde muy pequeño, la tecnología y los videojuegos han sido una parte fundamental de mi vida. 
    Actualmente, estoy enfocado en contribuir al desarrollo de herramientas tecnológicas que siempre me han fascinado desde mi infancia."
    />
    <meta name="author" content="Daniel Pamblanco Mestre" />
    <meta
      name="keywords"
      content="Portfolio, Junior, Desarrollador, Sistemas"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
