---
const { title } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title={title}>
    <div class="container mt-20 p-5 justify-center items-center">
        <slot />
    </div>
</BaseLayout>

<style is:inline>
    body {
        margin: 0 auto;
        max-width: 100%;
        max-width: 80ch;
    }
    img{
        max-width: 50%;
        height: auto;
        margin: auto;
        margin-bottom: 2rem;
    }
</style>
