---
interface Props {
    title: string;
}
import "../styles/global.css";
import ThemeIcon from "../components/ThemeIcon.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---

<html lang="es" transition:animate="fade">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <body class="min-h-screen scroll-smooth">
            <main class="relative flex min-h-screen flex-col p-5 items-center">
        <Header />
        <div class="container mx-auto mt-20">
            <slot />
        </div>
        <Footer />
        </main>
    </body>
</html>
<style is:inline>
    

</style>
